<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>282393252581-cv8vteu1b1coe6f6s3m1r1dohathe9kg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282393252581-cv8vteu1b1coe6f6s3m1r1dohathe9kg</string>
	<key>API_KEY</key>
	<string>AIzaSyBiNJLJ4miO2ISDyhJZMGrVA6VO7GQQVtw</string>
	<key>GCM_SENDER_ID</key>
	<string>282393252581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kjapps.redirect</string>
	<key>PROJECT_ID</key>
	<string>redirect-f4585</string>
	<key>STORAGE_BUCKET</key>
	<string>redirect-f4585.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:282393252581:ios:fddfb427071deb29</string>
	<key>DATABASE_URL</key>
	<string>https://redirect-f4585.firebaseio.com</string>
</dict>
</plist>
